<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>cp1</param-name>
		<param-value>cv1</param-value>
	</context-param>
	<servlet>
		<servlet-name>HttpServletRequestTest</servlet-name>
		<display-name>HttpServletRequestTest</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.base.HttpServletRequestTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerificationCode</servlet-name>
		<display-name>VerificationCode</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.security.VerificationCode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitParam</servlet-name>
		<display-name>InitParam</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.base.InitParam</servlet-class>
		<init-param>
			<param-name>p1</param-name>
			<param-value>v1</param-value>
		</init-param>
		<init-param>
			<param-name>p2</param-name>
			<param-value>v2</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ServletContextParam</servlet-name>
		<display-name>ServletContextParam</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.base.ContextParam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceInjection</servlet-name>
		<display-name>ResourceInjection</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.base.ResourceInjection</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>header</servlet-name>
		<display-name>header</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.crossdomain.header</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>path</servlet-name>
		<display-name>path</display-name>
		<description></description>
		<servlet-class>devutility.test.webapp.servlet.io.path</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpServletRequestTest</servlet-name>
		<url-pattern>/servlet/base/HttpServletRequestTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerificationCode</servlet-name>
		<url-pattern>/servlet/security/VerificationCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitParam</servlet-name>
		<url-pattern>/servlet/base/InitParam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletContextParam</servlet-name>
		<url-pattern>/servlet/base/ContextParam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceInjection</servlet-name>
		<url-pattern>/servlet/base/ResourceInjection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/servlet/crossdomain/header</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>path</servlet-name>
		<url-pattern>/servlet/io/path</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>rp1</env-entry-name>
		<env-entry-value>rp1_value</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>rp2</env-entry-name>
		<env-entry-value>1</env-entry-value>
		<env-entry-type>java.lang.Integer</env-entry-type>
	</env-entry>
</web-app>