<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>file upload - /view/io/file/upload2.html</title>
</head>
<body>
	<h3>file upload</h3>
	<div>
		<form action="/file/upload2" method="post" enctype="multipart/form-data">
			<p>
				<label>file1:</label> <input name="file1" type="file" value="">
			</p>
			<p>
				<label>file2:</label> <input name="file2" type="file" value="">
			</p>
			<p>
				<label>file3:</label> <input name="file3" type="file" value="">
			</p>
			<p>
				<input type="submit" value="submit">
			</p>
		</form>
	</div>
</body>
</html>